.luis {
    padding: 20px;
}

button {
    background-color: transparent;
    border: 1px solid rgba(white, 0.1);
    transition: 300ms ease;
    color: white;

    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    
    &:hover {
        background-color: rgba(white, 0.7);
        color: black;
        border: 1px solid rgba(white, 0.7);
    }
}