main {
    flex-grow: 1;
}

.container {
    margin: 0 auto;
    padding: 20px 0;
    width: $width;
    max-width: $max-width;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(white, 0.1);
    
    &__inner {

    }
}

.busqueda {
    padding: 10px;
    background-color: rgba(rgb(8, 26, 54), 0.6);
    transition: 300ms ease;
    min-height: 100px;
}

pre {
    white-space: pre-line;
    word-wrap: break-word;
    overflow: auto;

    width: 100%;
    padding: 10px;
    background-color: rgba(white, 0.1);

    &:empty {
        display:none;
    }
}
